<main class="container" id="main">
    <section class="hero" id="hero">
        <article class="text">
            <h1>Аренда самокатов  на месяц от <span class="highlight">1 600 ₽</span></h1>
            <p class="subtitle">Теперь можно кататься безлимитно целый месяц, не думая об обслуживании и ремонте.</p>
            <a href="/" class="button">Хочу попробовать!</a>
        </article>
        <img src="img/content/hero.png" />
        <a href="/" class="button mobile">Хочу попробовать!</a>
    </section>
    <section class="how" id="how">
        <div class="box">
            <h2>Как это работает?</h2>
            <div class="columns columns3">
                <div class="column">
                    <span class="number">1</span>
                    <p>Оставьте заявку на этом сайте, чтобы мы могли забронировать для вас самокат</p>
                </div>
                <div class="column">
                    <span class="number">2</span>
                    <p>Мы доставим вам самокат прямо до дома! И поможем вам его активировать</p>
                </div>
                <div class="column">
                    <span class="number">3</span>
                    <p>🎉 Активировали! Пользуйтесь самокатом. Если сломается, то поменяем на новый</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pros">
        <div class="columns columns3">
            <div class="column">
                <span class="icon icon-repair"></span>
                <p><strong>Не думайте об обслуживании и ремонте.</strong> Если сломается, то поменяем на новый</p>
            </div>
            <div class="column">
                <span class="icon icon-samokat"></span>
                <p><strong>Самокат всегда рядом с вами</strong> - как личный. Теперь не нужно искать на карте или парковать в специальной зоне</p>
            </div>
            <div class="column">
                <span class="icon icon-wallet"></span>
                <p><strong>В 5 раз дешевле чем поминутная аренда</strong> и не нужно оплачивать старт поездки.</p>
            </div>
        </div>
    </section>

    <section class="why" id="why">
        <div class="box">
            <h2>Почему Твой <span class="highlight">Юрент</span> выгоднее чем<br/> поминутная поездка?</h2>
            <div class="splide" id="table-carousel">
                <div class="splide__track">
                    <div class="columns columns4 splide__list">
                            <div class="column splide__slide" style="width:248px;">
                                <ul class="subtitles">
                                    <li class="price">💸 <span class="text">Стоимость</span></li>
                                    <li class="state">🛴 <span class="text">Состояние самоката</span></li>
                                    <li class="repair">🛠️ <span class="text">Если сломается</span></li>
                                </ul>
                            </div>
                            <div class="column splide__slide" style="width:248px;">
                                <span class="subhead text">Покупка самоката</span>
                                <div class="box">
                                    <span class="price"><span class="subtitle">💸 <span class="text">Стоимость: </span></span>от 32 000 ₽</span>
                                    <span class="state"><span class="subtitle">🛴 <span class="text">Состояние самоката: </span></span>Отличный</span>
                                    <span class="repair"><span class="subtitle">🛠️ <span class="text">Если сломается: </span></span>Только гарантийный ремонт от 30 дней</span>
                                </div>
                            </div>
                            <div class="column urent splide__slide" style="width:248px;">
                                <span class="subhead img"><img src="img/logo.svg" width="180"/></span>
                                <div class="box">
                                    <span class="price"><span class="subtitle">💸 <span class="text">Стоимость: </span></span>от 2 990 ₽ / мес</span>
                                    <span class="state"><span class="subtitle">🛴 <span class="text">Состояние самоката: </span></span>Отличный</span>
                                    <span class="repair"><span class="subtitle">🛠️ <span class="text">Если сломается: </span></span>Заменим в случае поломки</span>
                                </div>
                            </div>
                            <div class="column splide__slide" style="width:248px;">
                                <span class="subhead text">Поминутная аренда</span>
                                <div class="box">
                                    <span class="price"><span class="subtitle">💸 <span class="text">Стоимость:</span></span>от 10 000 ₽ / мес</span>
                                    <span class="state"><span class="subtitle">🛴 <span class="text">Состояние самоката: </span></span> Разное</span>
                                    <span class="repair"><span class="subtitle">🛠️ <span class="text">Если сломается: </span></span>Придется искать новый на карте</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="samokat">
        <div class="box">
            <h2>Электросамокат Ninebot G30 🛴  </h2>
            <div class="columns columns2">
                <div class="column">
                    <ul class="about">
                        <li class="about-item">
                            <i class="icon icon-speed"></i>
                            <p>Скорость до 25 км/ч</p>
                        </li>
                        <li class="about-item">
                            <i class="icon icon-scooter"></i>
                            <p>Вес самоката 18кг</p>
                        </li>
                        <li class="about-item">
                            <i class="icon icon-clock"></i>
                            <p>Пробег на одном заряде до 40 км</p>
                        </li>
                        <li class="about-item">
                            <i class="icon icon-compress"></i>
                            <p>Максимальная нагрузка на самокат 100 кг</p>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div class="carousel">
                        <div id="main-carousel" class="splide splide-main">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img src="img/content/gallery1.png" alt="">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="img/content/gallery2.png" alt="">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="img/content/gallery3.png" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="thumbnail-carousel" class="splide splide-navigation">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide" style="background-image: url(img/content/gallery1.png)">
                                    </li>
                                    <li class="splide__slide" style="background-image: url(img/content/gallery2.png)">
                                    </li>
                                    <li class="splide__slide" style="background-image: url(img/content/gallery3.png)">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="prices">
        <div class="box">
            <h2>Чем дольше, тем выгоднее ⭐</h2>
            <div class="columns columns4">
                <div class="column">
                    <div class="top">
                        <div class="time">1 месяц</div>
                        <div class="total">3 990 ₽</div>
                    </div>
                    <div class="bottom">
                        <div class="price">3 990 ₽ / мес</div>
                    </div>
                </div>
                <div class="column">
                    <div class="top">
                        <div class="time">3 месяца</div>
                        <div class="total">9670 ₽<span class="full">11 970 ₽</span></div>
                        <div class="discount">Скидка 20%</div>
                    </div>
                    <div class="bottom">
                        <div class="price">3 199 ₽ / мес</div>
                    </div>
                </div>
                <div class="column">
                    <div class="top">
                        <span class="label popular">Популярный</span>
                        <div class="time">6 месяцев</div>
                        <div class="total">14 360 ₽<span class="full">23 940 ₽</span></div>
                        <div class="discount">Скидка 40%</div>
                    </div>
                    <div class="bottom">
                        <div class="price">2 399 ₽ / мес</div>
                    </div>
                </div>
                <div class="column">
                    <div class="top">
                        <span class="label profitable">Выгодный</span>
                        <div class="time">12 месяцев</div>
                        <div class="total">19 180 ₽<span class="full">47 880 ₽</span></div>
                        <div class="discount">Скидка 60%</div>
                    </div>
                    <div class="bottom">
                        <div class="price">1 599 ₽ / мес</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="request">
        <div class="columns columns2">
            <div class="column box">
                <h2>Оставить заявку</h2>
                <p class="note">Доставим самокат в удобное время и место уже сегодня</p>
                <form class="form">
                    <div class="field">
                        <input class="field-text js-input-name" type="text" placeholder="Ваше имя" />
                    </div>
                    <div class="field">
                        <input class="field-text js-input-phone" type="text" placeholder="Мобильный телефон*" />
                    </div>
                    <div class="field">
                        <select class="select js-custom-select">
                            <option></option>
                            <option value="0">1 месяц</option>
                            <option value="1">3 месяца</option>
                            <option value="2">6 месяцев</option>
                            <option value="3">12 месяцев</option>
                        </select>
                    </div>

                    <button class="button" id="register-button">Забронировать самокат</button>
                </form>
                <p class="note">Нажимая “Забронировать самокат”, вы соглашаетесь с политикой обработки персональных данных</p>

                <div class="loading-icon">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div class="column">
                <img src="img/content/scooter.png" />
            </div>
        </div>
    </section>
</main>
