.button {
  background-color: $black;
  border-radius: $border_radius_xs;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  color: $white;
  cursor: pointer;
  font-size: $font_size_sm;
  height: $field_height;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 20px 32px;
}

.field {
  margin-bottom: 39px;
}

.field-text, select {
  background-color: $gray3;
  border-radius: $border_radius_xs;
  border: 1px solid transparent;
  color: $gray_text;
  height: $field_height;
  padding: 10px 20px;
  width: 100%;

  &.error {
    border: 1px solid $error;
  }
}


.form {
  margin-top: 44px;
  .button {
    margin-bottom: 24px;
    width: 100%;
  }
}

.select2-container {
  .select2-selection__arrow {
    top: 18px !important;
    right: 10px !important;
  }

  .select2-selection  {
    background-color: $gray3;
    border-radius: $border_radius_xs;
    border: 1px solid transparent;
    color: $gray_text;
    height: $field_height;
    padding: 10px 20px;
    width: 100%;

    .select2-selection__rendered {
      padding-left: 0;
      padding-top: 6px;
      line-height: 1.4;
      display: block;
    }

  }

  &.error {
    .select2-selection  {
      border: 1px solid $error;
    }
  }

  .select2-results>.select2-results__options {
    max-height: 399px;
    overflow-y: auto;
  }

  .select2-dropdown  {
    background: $white;
    border-radius: $border_radius_xs;
    border: 1px solid $gray2;
    padding: $padding_sm / 2;

    .select2-results__option {
      border-bottom: 1px solid $gray2;

      .option {
        padding: 10px 5px;

        .columns {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
        }

        .time {
          font-weight: $font_weight_heading;
          font-family: $font_family_heading;
          font-size: $font_size_base;
          margin-bottom: 11px;
        }
        .price {
          color: $black;
          font-family: $font_family_heading;
          font-weight: $font_weight_heading;
          font-size: $font_size_lg;
          position: relative;
          white-space: nowrap;
        }
        .discount {
          @extend .highlight;
          font-size: $font_size_xs;
          margin-bottom: 0;
          display: inline-block;
          padding-left: 20px;
          position: relative;

          &:before {
            background-color: $gray_text;
            border-radius: 4px;
            content: "";
            display: block;
            height: 4px;
            width: 4px;
            position: absolute;
            left: 7px;
            top: 7px;
          }
        }
        .total {
          color: $gray_text;
          margin-bottom: 5px;
          font-size: $font_size_xs;
          display: inline-flex;
          align-items: baseline;
          flex-wrap: nowrap;
        }
        .full {
          color: $gray_text;
          margin-left: 5px;
          text-decoration: line-through;
          font-size: $font_size_xs * 0.9;
          display: block;
        }
      }
    }

    .select2-results__option--highlighted.select2-results__option--selectable {
      background-color: $gray;
      color: inherit;
    }
  }
}

