// colors

$primary:       #6C40D5;
$light:         #E5E5E5;
$gray:          #F4F4F4;
$gray2:         #ECECEC;
$gray3:         #F4F4F5;
$gray_text:     #767676;
$black:         #000000;
$white:         #FFFFFF;

$error:         #FF305A;




/* fonts */
$font_family_heading: 'TT Commons Bold', sans-serif;
$font_family_text: 'Roboto', sans-serif;

$font_size_xs: 14px;
$font_size_sm: 16px;
$font_size_md: 18px;
$font_size_lg: 20px;
$font_size_xl: 28px;

$font_color_base: $black;
$font_size_base: $font_size_md;

$font_weight_base: 400;
$font_weight_heading: 700;

$font_size_h1: 56px;
$font_size_h2: 44px;
$font_size_h3: 32px;
$font_size_h4: 24px;

$line_height_base: 1.4;

/* layout */
$page_width: 1147px;

$screen_xs: 380px;
$screen_sm: 570px;
$screen_md: 860px;
$screen_lg: 1220px;

$border_radius_lg: 52px;
$border_radius_md: 32px;
$border_radius_sm: 24px;
$border_radius_xs: 13px;

$padding_base: 32px;
$padding_sm: 20px;

/* forms */
$field_background: $white;
$field_font_size: $font_size_md;
$field_height: 60px;



